body {
	font-size: 150%;
	font-family: 'Bebas Neue';
	background-color: black;
	line-height: 2;
	text-align: center;
}

.navbar-brand{
	font-size: 2.5em;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	color: white;
}

p {
	font-size: 2em;
	color: white;
}

li {
	font-size: 2em;
}

.btn {
	font-size: 2em;
}

.divider {
	width: 25px;
	height: auto;
	display: inline-block;
}

.card-text {
	font-size: 2em;
	text-align: center;
	color: white;
}

.card-body {
	background-color: grey;
}

input[type="text"] {
	font-size: 50px;
	text-align: center;

}

input[type="date"] {
	font-size: 50px;
	text-align: center;

}


input[type="time"] {
	font-size: 50px;
	text-align: center;

}